<fieldset>
    <h2 id="menu-categories-title" class="text-center">Sign Up</h2>
	<div class="text-center">
		<p>Sign up for our newsletter, filling in the form below in order to receive special offers!!
	</div>

    <form name="signUpForm" novalidate >
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-sm-12">
			<input type="text" name="firstName" placeholder="First Name" class="form-control"
                ng-model="signupCtrl.userInfo.firstName"
                required>

            <span ng-class="error" ng-if="signUpForm.firstName.$error.required
                                          && signUpForm.firstName.$touched">
                First name is required
            </span>
		</div>
		<div class="col-md-6 col-sm-12">
			<input type="text" name="lastName" required placeholder="Last Name" class="form-control"
                ng-model="signupCtrl.userInfo.lastName" required >
            <span ng-class="error" ng-if="signUpForm.lastName.$error.required
                                          && signUpForm.lastName.$touched">
                Last name is required
            </span>
		</div>
		<br>
		<div class="col-md-6 col-sm-12">
			<input type="email" name="email" required placeholder="Email" class="form-control"
                ng-model="signupCtrl.userInfo.emailAddress"
                required>
            <span ng-class="error" ng-if="(signUpForm.email.$error.required
                                          || signUpForm.email.$invalid)
                                          && signUpForm.email.$touched">
                Must be a valid email address: handle@domain format
            </span>
		</div>
		<div class="col-md-6 col-sm-12">
			<input type="text" name="phone" required placeholder="Phone ###-###-####" class="form-control"
                ng-model="signupCtrl.userInfo.phoneNumber"
                pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-class="error" ng-if="(signUpForm.phone.$error.required
                                          || signUpForm.phone.$invalid)
                                          && signUpForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
		</div>
		<br>
		<div class="col-md-6 col-sm-12">
			<input type="text" name="menuItem" placeholder="Pick you favourite menu" class="form-control"
                ng-model="signupCtrl.userInfo.menuItem"
                ng-blur="signupCtrl.checkMenuItem()" required>
            <span ng-class="error" ng-if="(signUpForm.menuItem.$error.required
                                            && signUpForm.menuItem.$touched)
                                            || signupCtrl.invalidMenuItem">
              No such menu number exists
            </span>
		</div>
		<br>
		<div class="col-xs-12 text-center">
			<button class="btn btn-success btn-lg" ng-click="signupCtrl.signUpUser();"
              ng-disabled="signUpForm.$invalid || signupCtrl.invalidMenuItem">Sign Up!</button>
		</div>
	  </div>
	</div>
      <div>
        <span ng-if="signupCtrl.showMessage">Your information has been saved</span>
      </div>
    </form>
</fieldset>
