<div class='container-fluid'>
	<div class='row' ng-repeat='item in items' style='border: 1px solid'>
	  <div class='col-xs-6 col-sm-3'>Name</div>
	  <div class='col-xs-6 col-sm-3'>Short Name</div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class='clearfix visible-xs-block'></div>

	  <div class='col-xs-6 col-sm-3'>Description</div>
	  <div class='col-xs-6 col-sm-3'>Remove </div>
	</div>
	<div class='row' ng-repeat='item in items' style='border: 1px solid'>
	  <div class='col-xs-6 col-sm-3'>{{ item.name }}</div>
	  <div class='col-xs-6 col-sm-3'>{{ item.short_name }}</div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class='clearfix visible-xs-block'></div>

	  <div class='col-xs-6 col-sm-3'>{{ item.description }}</div>
	  <div class='col-xs-6 col-sm-3'>
		<button ng-click='onRemove({index: $index});'>Remove Item</button>
	  </div>
	</div>
 </div>
