<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownAppp">
   <div class="container" ng-controller="NarrowItDownController as narrowItCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group" >
      <input type="text" ng-model="narrowItCtrl.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narrowItCtrl.findMenuItems();" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    <div class='container-fluid'>
      <div class='row' ></div>
    </div>

   <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>

    <!-- found-items should be implemented as a component -->
    <found-items 
        items="narrowItCtrl.found"
        on-remove="narrowItCtrl.removeItem(index)"
        empty-message="narrowItCtrl.nilMessage"></found-items>
  </div>

  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
